/* src/Roulette.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .roulette-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid #333;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .roulette {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 5s cubic-bezier(0.33, 1, 0.68, 1);
  }
  
  .segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: red;
    transform-origin: 100% 100%;
    clip-path: polygon(50% 0, -100% 100%, 100% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pointer {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
    position: absolute;
    top: -0px; /* Adjust based on your needs */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure pointer is on top of the roulette */
  }